env
.env
proj_env
venv/
.venv/
__pycache__/
*.pyc
*.pyo
logs/
faiss_index/
data/
notebook/
.deepeval/
.vscode/
.DS_Store
*.egg-info/
users.db
uv.lock
gcp-vertex-sa.json
*-sa.json
local_testing/
data_deep_eval/